# Introduction

---

This notebook focuses on analyzing Sustainable Development Goal (SDG) Indicator 4.c.1, which measures the Proportion of teachers with the minimum required qualifications, by education level.


Author: <br>
Jeremya Dharmawan Raharjo<br>

In [1]:
import pandas as pd

In [5]:
data_441 = pd.read_excel("../datasets/4.c.xlsx")

## 1. Data Overview

In [6]:
data_441.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,LowerBound,BasePeriod,Source,GeoInfoUrl,FootNote,Education level,Nature,Reporting Type,Sex,Units
0,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers with the minimum requir...,8,Albania,2018,59.39298,2018,...,NaN,NaN,UNESCO Institute for Statistics. Data extract...,NaN,NaN,LOWSEC,C,G,FEMALE,PERCENT
1,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers with the minimum requir...,8,Albania,2018,49.04714,2018,...,NaN,NaN,UNESCO Institute for Statistics. Data extract...,NaN,NaN,LOWSEC,C,G,MALE,PERCENT
2,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers with the minimum requir...,8,Albania,2018,55.97000,2018,...,NaN,NaN,UNESCO Institute for Statistics. Data extract...,NaN,NaN,LOWSEC,C,G,BOTHSEX,PERCENT
3,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers with the minimum requir...,8,Albania,2020,51.32635,2020,...,NaN,NaN,UNESCO Institute for Statistics. Data extract...,NaN,NaN,LOWSEC,C,G,BOTHSEX,PERCENT
4,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers with the minimum requir...,8,Albania,2020,54.16667,2020,...,NaN,NaN,UNESCO Institute for Statistics. Data extract...,NaN,NaN,UPPSEC,C,G,BOTHSEX,PERCENT