# Introduction

---

This notebook focuses on analyzing Sustainable Development Goal (SDG) Indicator 4.1.1, which measures the proportion of children and young people (a) in grades 2/3; (b) at the end of primary; and (c) at the end of lower secondary achieving at least a minimum proficiency level in (i) reading and (ii) mathematics, by sex 


Author: <br>
Abel Apriliani <br>
SnakeBros<br>

In [16]:
import pandas as pd

In [17]:
data_411 = pd.read_excel("../datasets/4.1.1.xlsx")

In [18]:
data_411.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,BasePeriod,Source,GeoInfoUrl,FootNote,Education level,Nature,Reporting Type,Sex,Type of skill,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,1,World,2000,48.97526,2000,...,NaN,UNESCO Institute for Statistics. Data extract...,NaN,NaN,PRIMAR,N,G,BOTHSEX,SKILL_MATH,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,1,World,2000,47.31352,2000,...,NaN,UNESCO Institute for Statistics. Data extract...,NaN,NaN,LOWSEC,N,G,BOTHSEX,SKILL_MATH,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,1,World,2000,62.31563,2000,...,NaN,UNESCO Institute for Statistics. Data extract...,NaN,NaN,LOWSEC,N,G,BOTHSEX,SKILL_READ,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,1,World,2000,61.21205,2000,...,NaN,UNESCO Institute for Statistics. Data extract...,NaN,NaN,PRIMAR,N,G,BOTHSEX,SKILL_READ,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,1,World,2001,47.49661,2001,...,NaN,UNESCO Institute for Statistics. Data extract...,NaN,NaN,LOWSEC,N,G,BOTHSEX,SKILL_MATH,PERCENT

In [19]:
data_411.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5558 entries, 0 to 5557
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Goal               5558 non-null   int64
 1   Target             5558 non-null   float64
 2   Indicator          5558 non-null   object
 3   SeriesCode         5558 non-null   object
 4   SeriesDescription  5558 non-null   object
 5   GeoAreaCode        5558 non-null   int64
 6   GeoAreaName        5558 non-null   object
 7   TimePeriod         5558 non-null   int64
 8   Value              5558 non-null   float64
 9   Time_Detail        5558 non-null   int64
 10  TimeCoverage       0 non-null      float64
 11  UpperBound         0 non-null      float64
 12  LowerBound         0 non-null      float64
 13  BasePeriod         0 non-null      float64
 14  Source             5558 non-null   object
 15  GeoInfoUrl         0 non-null      float64
 16  FootNote           0 non-null      float64
 17  Education level    5558 non-null   object
 18  Nature             5558 non-null   object
 19  Reporting Type     5558 non-null   object
 20  Sex                5558 non-null   object
 21  Type of skill      5558 non-null   object
 22  Units              5558 non-null   object
dtypes: float64(8), int64(4), object(11)
memory usage: 998.8+ KB

In [20]:
# check the number of unique values in each column
data_411.nunique()

Goal                    1
Target                  1
Indicator               1
SeriesCode              1
SeriesDescription       1
GeoAreaCode           143
GeoAreaName           143
TimePeriod             23
Value                5182
Time_Detail            23
TimeCoverage            0
UpperBound              0
LowerBound              0
BasePeriod              0
Source                 30
GeoInfoUrl              0
FootNote                0
Education level         3
Nature                  2
Reporting Type          1
Sex                     3
Type of skill           2
Units                   1
dtype: int64

In [21]:
# drop irrelevant columnsS
irrelevant_col = [
    "Goal", "Target", "Indicator", "SeriesCode", "SeriesDescription",
    "TimeCoverage", "UpperBound", "LowerBound", "BasePeriod",
    "GeoInfoUrl", "FootNote", "Nature", "Reporting Type", "Units", 
                  ]
data_411.drop(columns=irrelevant_col, inplace=True)

In [22]:
data_411.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5558 entries, 0 to 5557
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GeoAreaCode      5558 non-null   int64
 1   GeoAreaName      5558 non-null   object
 2   TimePeriod       5558 non-null   int64
 3   Value            5558 non-null   float64
 4   Time_Detail      5558 non-null   int64
 5   Source           5558 non-null   object
 6   Education level  5558 non-null   object
 7   Sex              5558 non-null   object
 8   Type of skill    5558 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 390.9+ KB

In [23]:
data_411.nunique()

GeoAreaCode         143
GeoAreaName         143
TimePeriod           23
Value              5182
Time_Detail          23
Source               30
Education level       3
Sex                   3
Type of skill         2
dtype: int64

In [24]:
# find out if 2 colomns have the same values
data_411["TimePeriod"].equals(data_411["Time_Detail"])

True

In [34]:
# drop one of the columns
data_411.drop(columns="Time_Detail", inplace=True)

In [25]:
# check duplicates
data_411.duplicated().sum()

0

In [26]:
# check missing values
data_411.isnull().sum()

GeoAreaCode        0
GeoAreaName        0
TimePeriod         0
Value              0
Time_Detail        0
Source             0
Education level    0
Sex                0
Type of skill      0
dtype: int64

In [27]:
# check all the unique values of all columns
for col in data_411.columns:
    print(f"{col}: {data_411[col].unique()}", end="\n\n")

GeoAreaCode: [  1   8   9  12  31  32  36  40  48  51  56  68  70  72  76  84  96 100
 104 108 112 116 120 124 148 152 170 178 180 188 191 192 196 202 203 204
 208 214 218 222 233 246 250 266 268 270 275 276 288 300 320 324 340 344
 348 352 360 364 372 376 380 384 388 392 398 400 404 410 414 417 418 419
 422 426 428 438 440 442 446 450 454 458 470 480 484 496 498 499 504 508
 512 513 516 528 554 558 562 578 586 591 600 604 608 616 620 634 642 643
 682 686 688 690 702 703 704 705 710 716 724 747 748 752 753 756 760 764
 768 780 784 788 792 800 804 807 818 826 834 840 854 858 860 887 894]

GeoAreaName: ['World' 'Albania' 'Oceania' 'Algeria' 'Azerbaijan' 'Argentina'
 'Australia' 'Austria' 'Bahrain' 'Armenia' 'Belgium'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Belize' 'Brunei Darussalam' 'Bulgaria' 'Myanmar' 'Burundi'
 'Belarus' 'Cambodia' 'Cameroon' 'Canada' 'Chad' 'Chile' 'Colombia'
 'Congo' 'Democratic Republic of the Congo' 'Costa Rica' 'Croatia' 'Cuba'
 'Cyprus' 'Sub-Saharan Africa' 'Czechia' 'Benin' 'Denmark'
 'Dominican Republic' 'Ecuador' 'El Salvador' 'Estonia' 'Finland' 'France'
 'Gabon' 'Georgia' 'Gambia' 'State of Palestine' 'Germany' 'Ghana'
 'Greece' 'Guatemala' 'Guinea' 'Honduras'
 'China, Hong Kong Special Administrative Region' 'Hungary' 'Iceland'
 'Indonesia' 'Iran (Islamic Republic of)' 'Ireland' 'Israel' 'Italy'
 "Côte d'Ivoire" 'Jamaica' 'Japan' 'Kazakhstan' 'Jordan' 'Kenya'
 'Republic of Korea' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latin America and the Caribbean'
 'Lebanon' 'Lesotho' 'Latvia' 'Liechtenstein' 'Lithuania' 'Luxembourg'
 'China, Macao Special Administrative Region' 'Madagascar' 'Malawi'
 'Malaysia' 'Malta' 'Mauritius' 'Mexico' 'Mongolia' 'Republic of Moldova'
 'Montenegro' 'Morocco' 'Mozambique' 'Oman' 'Europe and Northern America'
 'Namibia' 'Netherlands (Kingdom of the)' 'New Zealand' 'Nicaragua'
 'Niger' 'Norway' 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russian Federation' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Viet Nam'
 'Slovenia' 'South Africa' 'Zimbabwe' 'Spain'
 'Northern Africa and Western Asia' 'Eswatini' 'Sweden'
 'Eastern and South-Eastern Asia' 'Switzerland' 'Syrian Arab Republic'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'United Arab Emirates' 'Tunisia'
 'Türkiye' 'Uganda' 'Ukraine' 'North Macedonia' 'Egypt'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Burkina Faso'
 'Uruguay' 'Uzbekistan' 'Yemen' 'Zambia']

TimePeriod: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2021 2022 2023]

Value: [48.97526 47.31352 62.31563 ... 16.      13.9     15.1    ]

Time_Detail: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2021 2022 2023]

Source: ['UNESCO Institute for Statistics.  Data extracted on 21 February 2024.'
 'Programme for International Student Assessment (PISA). Students achieving at least proficiency Level 2. Modal grade for PISA: http://dx.doi.org/10.1787/888934038799 Data extracted on 21 February 2024.'
 'Trends in International Mathematics and Science Study (TIMSS). Students achieving at least Intermediate International Benchmark. Grade 4 Data extracted on 21 February 2024.'
 'Progress in International Reading Literacy Study (PIRLS). Students achieving at least low International Benchmark. Grade 4 Data extracted on 21 February 2024.'
 'Laboratorio Latinoamericano de Evaluacion de la Calidad de la Educacion (LLECE). Students achieving at least proficiency Level 3. Grade 6 Data extracted on 21 February 2024.'
 'Laboratorio Latinoamericano de Evaluacion de la Calidad de la Educacion (LLECE). Students achieving at least proficiency Level 2. Grade 3 Data extracted on 21 February 2024.'
 'Trends in International Mathematics and Science Study (TIMSS). Students achieving at least Intermediate International Benchmark. Grade 8 Data extracted on 21 February 2024.'
 'Trends in International Mathematics and Science Study (TIMSS). Students achieving at least Intermediate International Benchmark. Grade 4. The results correspond only to Belgium (Flemish) Data extracted on 21 February 2024.'
 'Progress in International Reading Literacy Study (PIRLS). Students achieving at least low International Benchmark. Grade 4. The results correspond only to Belgium (Flemish) Data extracted on 21 February 2024.'
 'Laboratorio Latinoamericano de Evaluacion de la Calidad de la Educacion (LLECE). Students achieving at least proficiency Level 3. Grade 6; Nota aclaratoria: Los datos del Estado Plurinacional de Bolivia corresponden al Diagnostico Nacional realizado en aplicacion de los instrumentos del Tercer Estudio Regional Comparativo y Explicativo (TERCE), mismos que no son estrictamente comparables Data extracted on 21 February 2024.'
 'Laboratorio Latinoamericano de Evaluacion de la Calidad de la Educacion (LLECE). Students achieving at least proficiency Level 2. Grade 3; Nota aclaratoria: Los datos del Estado Plurinacional de Bolivia corresponden al Diagnostico Nacional realizado en aplicacion de los instrumentos del Tercer Estudio Regional Comparativo y Explicativo (TERCE), mismos que no son estrictamente comparables Data extracted on 21 February 2024.'
 'Southern and Eastern Africa Consortium for Monitoring Educational Quality (SACMEQ). Students achieving at least proficiency Level 5. Grade 6 Data extracted on 21 February 2024.'
 'Southern and Eastern Africa Consortium for Monitoring Educational Quality (SACMEQ) IV. Students achieving at least proficiency Level 5. Grade 6 Data extracted on 21 February 2024.'
 'Southeast Asia Primary Learning Metrics (SEA-PLM); Grade 5; Minimum proficiency level: Level 6 and above Data extracted on 21 February 2024.'
 'CONFEMEN Programme for the Analysis of Education Systems (PASEC). Students achieving at least proficiency Level 3. Grade 2 Data extracted on 21 February 2024.'
 'CONFEMEN Programme for the Analysis of Education Systems (PASEC). Students achieving at least proficiency Level 2. Grade 2 Data extracted on 21 February 2024.'
 'CONFEMEN Programme for the Analysis of Education Systems (PASEC). Students achieving at least proficiency Level 4. Grade 6 Data extracted on 21 February 2024.'
 'CONFEMEN Programme for the Analysis of Education Systems (PASEC). Students achieving at least proficiency Level 3. Grade 6 Data extracted on 21 February 2024.'
 'Programme for International Student Assessment (PISA) for Development. Students achieving at least proficiency Level 2. Modal grade for PISA: http://dx.doi.org/10.1787/888934038799 Data extracted on 21 February 2024.'
 'Progress in International Reading Literacy Study (PIRLS). Students achieving at least low International Benchmark. Grade 4. The results correspond only to Quebec Data extracted on 21 February 2024.'
 'Trends in International Mathematics and Science Study (TIMSS). Students achieving at least Intermediate International Benchmark. TIMSS over PISA was chosen by the country. Grade 8 Data extracted on 21 February 2024.'
 'Assessments for Minimum Proficiency Levels (AMPL). Grade 3 Data extracted on 21 February 2024.'
 'Assessments for Minimum Proficiency Levels (AMPL). Grade 7 Data extracted on 21 February 2024.'
 'Assessments for Minimum Proficiency Levels (AMPL). Grade 6 Data extracted on 21 February 2024.'
 'Programme for International Student Assessment (PISA). Students achieving at least proficiency Level 2. Ukrainian regions evaluated (18 of 27). Modal grade for PISA: http://dx.doi.org/10.1787/888934038799 Data extracted on 21 February 2024.'
 'Progress in International Reading Literacy Study (PIRLS). Students achieving at least low International Benchmark. Grade 4.  The results correspond only to England Data extracted on 21 February 2024.'
 'Trends in International Mathematics and Science Study (TIMSS). Students achieving at least Intermediate International Benchmark. Grade 4. The results correspond only to England Data extracted on 21 February 2024.'
 'Southern and Eastern Africa Consortium for Monitoring Educational Quality (SACMEQ) IV. Students achieving at least proficiency Level 5. Grade 6. Tanzania (Zanzibar) Data extracted on 21 February 2024.'
 'Assessments for Minimum Proficiency Levels (AMPL). Grade 5 Data extracted on 21 February 2024.'
 'Assessments for Minimum Proficiency Levels (AMPL). Grade 4 Data extracted on 21 February 2024.']

Education level: ['PRIMAR' 'LOWSEC' 'GRAD23']

Sex: ['BOTHSEX' 'MALE' 'FEMALE']

Type of skill: ['SKILL_MATH' 'SKILL_READ']

In [28]:
# show data of Indonesia
data_411_indonesia = data_411[data_411["GeoAreaName"] == "Indonesia"]

In [29]:
data_411_indonesia.head()

,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Sex,Type of skill
2261,360,Indonesia,2000,31.30000,2000,Programme for International Student Assessment...,LOWSEC,BOTHSEX,SKILL_READ
2262,360,Indonesia,2000,25.48000,2000,Programme for International Student Assessment...,LOWSEC,MALE,SKILL_READ
2263,360,Indonesia,2000,26.47185,2000,Programme for International Student Assessment...,LOWSEC,BOTHSEX,SKILL_MATH
2264,360,Indonesia,2000,27.21000,2000,Programme for International Student Assessment...,LOWSEC,MALE,SKILL_MATH
2265,360,Indonesia,2000,36.93000,2000,Programme for International Student Assessment...,LOWSEC,FEMALE,SKILL_READ

In [30]:
data_411.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5558 entries, 0 to 5557
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GeoAreaCode      5558 non-null   int64
 1   GeoAreaName      5558 non-null   object
 2   TimePeriod       5558 non-null   int64
 3   Value            5558 non-null   float64
 4   Time_Detail      5558 non-null   int64
 5   Source           5558 non-null   object
 6   Education level  5558 non-null   object
 7   Sex              5558 non-null   object
 8   Type of skill    5558 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 390.9+ KB

In [31]:
num_cols= ['GeoAreaCode', 'TimePeriod', 'Value']
cat_cols = ['GeoAreaName', 'Source', 'Education level', 'Sex', 'Type of skill']